.header-top a{
    color: #333;
    text-decoration: none;
}

.header-top {
    width: 1300px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative
}

.header-home {
    display: flex;
    justify-content: flex-start;
}

header {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
}

.header-top-title img {
    width: 150px;
    position: absolute;
    left: 810px;
    top: 20px;
}

.header-top h1 {
    color: #191970;
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    
}


.link:hover {
    opacity: 0.6;
}


.link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 35px;
    padding-top: 35px;
}

.link img {
    width: 40px;
}

.link a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

body {
    font-family: 'Kiwi Maru', serif;
    background-image: url("./resources/back-star.jpg");
}

.info-content {
    width: 100%;
    margin: 80px auto 0 auto;
    background-color: #fff9f5;
    width: 1200px;
    border-radius: 40px;
}


.info-title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative
}

.info-details {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
}

.details {
    margin: auto;
    text-align: center;
}

.details .title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.details .explanation {
    font-weight: lighter;
    line-height: 35px;
}

.info-title img {
    width: 250px;
    height: 80px;
    margin-top: -40px
}

.info-title p {
    font-size: 35px;
    padding: 10px 20px;
    background-color: #ffa500;
    margin-top: -40px;
   
}

.announce {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.announce p {
    color: #fff;
    text-align: center;
    position: absolute;
    font-size: 18px;
    top: 390px;
}


@media only screen and (max-width: 1024px)  {

    .header-top {
        display: flex;
        width: 950px;

    }

    .header-top h1{
        font-size: 55px;
    }

    .header-top-title img {
      width: 110px;
      left: 610px;
      top: 25px;
    }

    .info-content {
        width: 850px;
    }
    .info-details {
        padding-right: 20px;
        padding-left: 20px;
    }

     
    }

@media only screen and (max-width: 599px) {

    .header-top {
        width: 500px;
        display: flex;
        justify-content: center;
    } 

    .header-top h1 {
        padding: 30px 30px;
        font-size: 33px;
    }

    .header-top-title img {
        width: 80px;
        left: 330px;
        top: 35px;
    }

    .link {
        padding-right: 5px;
    }

    .link img {
        width: 30px;
    }
    
    .link a{
        padding-top: 10px;
        font-size: 15px;
    }
     
    .info-content {
        width: 450px;
    }

    .announce img {
        width: 500px;
        height: 500px;
        position: relative;
    }

    .announce p {
        font-size: 13px;
        position: absolute;
        top: 320px;
    }

    .info-details p {
        font-size: 13px;
    }

    }
    